﻿<!DOCTYPE html>
<html ng-app="Home" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-app")
    <title>BrainStorm</title>
</head>
<body ng-controller="MainController">
    <header class="main-header">
        <div class="container">
            <a class="navbar-brand" href="#">BrainStorm</a>
            <ul class="nav navbar-nav pull-right" ng-show="isGroupsOrUsersView">
                <li><a href="">Поиск</a></li>
                <li>
                    <p class="btn btn-default" ng-show="path=='/groups'" ng-click="openNewGroupModal()">Новая группа</p>
                </li>
            </ul>
            <form class="navbar-form pull-right col-lg-6" ng-show="isGroupsOrUsersView">
                <input type="text" class="form-control col-lg-4" ng-model="query" ng-change="search()" placeholder="{{searchPlaceholder}}">
            </form>
        </div>
    </header>
    <div class="container content">
        <div class="clearfix">
            <div class="col-lg-3 clearfix"><h3 class="user">Вы <span class="username">{{id.fullName}}</span></h3></div>
            <div class=" col-lg-9 col-lg-paddingNone clearfix">
                <ul class="nav nav-tabs" ng-show="isGroupsOrUsersView">
                    <li ng-class="path=='/groups'? 'active': ''" ng-show="path!='/myGroups'&&path!='/myGroups/archive'">
                        <a href="/groups">Группы</a>
                    </li>
                    <li ng-class="path=='/users'? 'active': ''" ng-show="path!='/myGroups'&&path!='/myGroups/archive'">
                        <a href="/users">Пользователи</a>
                    </li>
                    <li ng-class="path=='/myGroups'? 'active': ''" ng-hide="path!='/myGroups'&&path!='/myGroups/archive'">
                        <a href="/myGroups">Мои группы</a>
                    </li>
                    <li ng-class="path=='/myGroups/archive'? 'active': ''" ng-hide="path!='/myGroups'&&path!='/myGroups/archive'">
                        <a href="/myGroups/archive">Архив</a>
                    </li>
                </ul>
                <div class="empty-for-margin" ng-hide="isGroupsOrUsersView"></div>
            </div>
        </div>
        <div class="container clearfix">
            <div class="col-lg-3">
                <ul class="nav nav-pills nav-stacked col-lg-12">
                    <li ng-class="path=='/groups' || path=='/users' ? 'active': ''">
                        <a href="/groups">Главная страница</a>
                    </li>
                    <li ng-class="path=='/myPage'? 'active': ''">
                        <a href="/myPage">Моя страница</a>
                    </li>
                    <li ng-class="path=='/myMessage'? 'active': ''">
                        <a href="/myMessage">Мои сообщения<span class="badge pull-right" ng-show="countMessages.count!=0">{{countMessages.count}}</span></a>
                    </li>
                    <li ng-class="path=='/myGroups'? 'active': ''">
                        <a href="/myGroups">Мои группы <span class="badge pull-right" ng-show="myGroupInfo.count!=0">{{myGroupInfo.count}}</span></a>
                    </li>
                    <li ng-class="path=='/myDraft'? 'active': ''">
                        <a href="/myDraft">Мои черновики</a>
                    </li>
                    <li>
                        <a target="_self" href="Account/LogOut">Выйти из системы</a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-9 col-lg-paddingNone" ng-hide="isBlockUser">
                @RenderBody()

            </div>
            <div class="col-lg-9" ng-show="isBlockUser">
                <div class="alerts">
                    <div class="alert alert-danger">
                        Вы заблокированны. Через {{time}} секунд страница обновится.
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>

