﻿@model BrainStorm.Web.Models.Account.LogOnModel


@using (@Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-inline" }))
{ 
  <div>
  @Html.TextBoxFor(model=> model.Email, new {@class = "form-control", placeholder = "Email" })
  @Html.PasswordFor(model=> model.Password, new {@class = "form-control", placeholder = "Password" })
  <button type="submit" class="btn btn-default">Войти</button>
  </div>   
  <div>
    <label>
      @Html.CheckBoxFor(model =>model.RememberMe) Запомнить меня
    </label>
    <label class="links">        
         <a href="#" id="rememberPassword"> Забыли пароль?</a>
         <a href="#" id="register"> Регистрация</a>
     </label>
  </div>
    
    if (Model.IsMultiError)
    {
        @Html.ValidationMessageFor(x => x.Email);
    }
    else
    {
    @Html.ValidationSummary(false)
}

   
     
  
   
}
