﻿@model BrainStorm.Web.Models.SuccessModalModel
<div class="modal-dialog">
    <div class="modal-content">
       
            <div class="modal-header">
                @Model.Header
            </div>
            <div class="modal-body">
               @Model.Body
            </div>
            <div class="modal-footer">
                <div class="center">
                <a href="#" class="btn btn-primary"  data-dismiss="modal">ОК</a>
                </div>
            </div>

    </div>

</div>
