﻿@model  BrainStorm.Framework.Exceptions.ExceptionController
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>
        @Model.NameError
    </h2>
</body>
</html>