﻿p{
    text-align: justify;
}

blockquote{
    font-style: italic;
    color: #ccc;
}

input:focus{
    outline: none;
}

textarea{
    resize: none;
}

blockquote:before,
blockquote:after{
    content: '"';
    font-size: 18px;
}

.header{
    text-align: center;
    padding: 20px 0;
    background: #eee;
}

.main-header{
    background: #eee;
}

.content{
    padding: 40px 0;
}

.footer{
    background: #eee;
    padding: 40px 0;
}

.pop-stripe{
    height: .5em;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #c69), color-stop(8.33333%, #c69), color-stop(8.33333%, #b37399), color-stop(16.66667%, #b37399), color-stop(16.66667%, #998099), color-stop(25%, #998099), color-stop(25%, #699), color-stop(33.33333%, #699), color-stop(33.33333%, #d2e1dd), color-stop(41.66667%, #d2e1dd), color-stop(41.66667%, #eee), color-stop(50%, #eee), color-stop(50%, #f2ece4), color-stop(58.33333%, #f2ece4), color-stop(58.33333%, #e1d7d2), color-stop(66.66667%, #e1d7d2), color-stop(66.66667%, #dadbdf), color-stop(75%, #dadbdf), color-stop(75%, #808c99), color-stop(83.33333%, #808c99), color-stop(83.33333%, #6b717f), color-stop(91.66667%, #6b717f), color-stop(91.66667%, #036), color-stop(100%, #036));
    background-image: -webkit-linear-gradient(left, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #998099 16.66667%, #998099 25%, #699 25%, #699 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #ccc 41.66667%, #ccc 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #808c99 75%, #808c99 83.33333%, #6b717f 83.33333%, #6b717f 91.66667%, #036 91.66667%, #036 100%);
    background-image: -moz-linear-gradient(left, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #998099 16.66667%, #998099 25%, #699 25%, #699 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #ccc 41.66667%, #ccc 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #808c99 75%, #808c99 83.33333%, #6b717f 83.33333%, #6b717f 91.66667%, #036 91.66667%, #036 100%);
    background-image: -o-linear-gradient(left, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #998099 16.66667%, #998099 25%, #699 25%, #699 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #ccc 41.66667%, #ccc 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #808c99 75%, #808c99 83.33333%, #6b717f 83.33333%, #6b717f 91.66667%, #036 91.66667%, #036 100%);
    background-image: linear-gradient(left, #cc6699 0%,#cc6699 8.33333%,#b37399 8.33333%,#b37399 16.66667%,#998099 16.66667%,#998099 25%,#669999 25%,#669999 33.33333%,#d2e1dd 33.33333%,#d2e1dd 41.66667%,#ccc 41.66667%,#ccc 50%,#f2ece4 50%,#f2ece4 58.33333%,#e1d7d2 58.33333%,#e1d7d2 66.66667%,#dadbdf 66.66667%,#dadbdf 75%,#808c99 75%,#808c99 83.33333%,#6b717f 83.33333%,#6b717f 91.66667%,#003366 91.66667%,#003366 100%);
}

.copyright{
    text-align: center;
}

.logo{
    font-size: 40px;
    font-style: italic;
    color: #428bca;
}

.logo:hover{
    text-decoration: none;
}

.border-around:before,
.border-around:after{
    content: '';
    display: inline-block;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    width: 40px;
    margin: 0 20px;
}

.user{
    margin: 8px 0 0;
}

.username{
    font-size: 14px;
    font-style: italic;
    color: #ccc;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
}

.photo{
    margin: 10px;
}

.border-around--logo:before,
.border-around--logo:after{
    border-bottom-color: #428bca;
}

.border-around--logo:hover:before,
.border-around--logo:hover:after{
    border-bottom-color: #2a6496;
}

.user-nav{
    position: fixed;
    width: 292px;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.container-narrow {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px;
}

.title {
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    font-style: italic;
}

.description {
    padding: 10px;
    margin: 40px 0;
}


.LogOnForm {
    padding: 40px 10px;
    margin: 40px 0;
    position: relative;
}

.LogOnForm:before{
    content: 'Войти';
    position: absolute;
    font-style: italic;
    top: -28px;
    padding: 10px;
    background: #fff;
    left: 50%;
    margin-left: -48.5px;
    font-size: 24px;
}

    .LogOnForm input {
        margin-right: 10px;
        margin-left: 10px;
    }

        .LogOnForm input#RememberMe {
            margin-right: 10px;
            margin-left: 10px;
        }

.links {
    margin: 10px 10px 10px 150px;
}

.form-inline input[type="text"], .form-inline input[type="password"] {
    width: 40%;
}

.center {
    text-align: center;
}

.navbar-custom {
    padding-top: 40px;
}

.navbar-nav .btn {
    margin-top: 8px;
}

.container-custom {
    border-width: 0px 1px 1px 1px;
    border-color: #DDDDDD;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.groups {
    margin: 10px 0px 10px 0px;
}

.block-group {
    background-color: #C0C0C0;
}

.groups-item {
    padding: 20px;
    margin: 10px 0;
    display: table;
    width: 100%;
}

.groups-item-tags {
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-lg-paddingNone {
    padding: 0px;
}

col-lg-marginNone {
    margin: 0px;
}

.groups-item-footer .button-groups {
    clear: left;
}

.groups-item-footer .button-groups .btn{
    padding: 4px 8px;
}

.group-item-name {
    padding-top: 15px;
}

.padding-btn {
    padding: 7px 0px 7px 0px;
}

.users-item {
    margin: 10px 0;
    padding: 10px;
    min-height: 120px;
}

.users-item-body {
    padding-left: 120px;
}

.scrollTop {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10%;
    z-index: 2000;
}

    .scrollTop:hover {
        background-position: 0 -58px;
    }

.my-modal {
    display: block;
}

.modal-small {
    width: 420px;
}

.empty-for-margin {
    height: 42px;
}

.block-btn {
    margin-bottom: 5px;
    width: 200px;
    display: block;
}

.block-item {
    border: 1px solid #ddd;
    position: relative;
    padding: 30px 10px 10px;
    margin-top: 30px;
}

    .block-item h5 {
        margin-top: 4px;
    }

.block-item-upper-right {
    position: absolute;
    right: 5px;
    top: 5px;
}

.idea-name {
    position: absolute;
    top: -22px;
    background: #fff;
    padding: 10px;
    color: #fff;
    background: #428bca;
}

.idea-name h4{
    margin: 0;
}


.avatar-img {
    height: 70px;
    margin: auto;
}

.about {
    overflow: auto;
}

.small-font {
    font-size: 12px;
}

.block-avatar {
    margin-right: 5px;
}

.idea-body {
    margin: 5px 0px 0px 0px;
    border-width: 2px;
}


.idea-text {
    padding-left: 120px;
}

.clear-textarea {
    width: 100%;
    margin-bottom: 10px;
}

.idea-name-input {
    position: absolute;
    top: -18px;
    background: #fff;
    padding: 10px;
    color: #fff;
    background: #428bca;
}

.idea-name-input h5{
    margin: 0;
}

    .idea-name-input input[type="text"] {
        border: 0;
    }

.idea-name h4,
.idea-name-input h5{
    max-width: 140px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.idea-name-input--nopadding{
    padding: 0;
}

.idea-name-input--nopadding input[type=text]{
    padding: 7px;
    border: 1px solid #ddd;
}

.idea-item-body textarea {
    margin-bottom: 10px;
    max-width: 100%;
}

.select2-container-multi .select2-choices .select2-search-field input{
    line-height: 26px;
}

.disable-transfer {
    white-space: nowrap;
}

.comments .block-item {
    margin-top: 15px;
    margin-bottom: 10px;
}

.photo img {
    margin-top: 10px;
    margin-right: 10px;
}

.example-code {
    padding: 10px;
    margin: 10px 0px 10px 0px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 100%;
    height: 400px;
    font-family: Courier;
}

.attachments {
    overflow: auto;
}

.block-item .block-textarea {
    height: 100px;
}

.success {
    color: #468847;
}

.invite {
    background: #eeeeee;
}

.return-btn {
    padding: 10px;
}

.idea-with {
    width: 824px;
}

input[type="file"] {
    color: #fff;
}

.reset-file {
    margin-top: 40px;
}

.topIdeas {
    margin-bottom: 100px;
}

.message-name {
    position: absolute;
    top: -22px;
    width: 170px;
    text-align: center;
    height: 31px;
    background: #fff;
}


.new-message-body .recipient-name {
    text-align: left;
}

.new-message-body {
    margin-left: 10px;
    margin-top: 15px;
}

.border {
    border: 1px solid #ddd;
}

.message-page {
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.message-block
{
   margin-top:10px;
}

.border-with-nav {
    border: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #ddd;
    padding: 10px;
}

.message-block .block-item {
    margin: 10px 5px 5px 5px;
}

.message-body {
    margin-left:80px;
}
.alerts{
    padding: 10px 10px 10px 10px;
}

#s2id_autogen4{
    height:26px;
}

.multi-recerver
{
    cursor: pointer;
}

.user-description{
    margin-top:10px;
}

.user-description b{
    margin-left: 10px;
}

.collector
{
       margin-top:10px;
}
.collector .block-item {
    margin: 25px 5px 5px 5px;
}
.horizontal-info
{
    display:inline-block;
    margin-left:5px;
    margin-bottom:5px;
}

.edit-profile{
    width:450px;
    display: inline;
    vertical-align: top;
}
.saving{
    color: darkgrey;
}
.avatar{
    margin: auto;
    margin-bottom:5px;
}
.upper-avatar {
    position: absolute!important;
    left: 119px;
    text-decoration: none;
}
.small-avatar {
    max-width: 50px;
    max-height: 50px;
    border: 0;
}
.media-object {
    cursor: pointer;
}
.image-box {
    width: 572px;
}
.outer {
    float: left;
    position: relative;
    left: 50%;
}

.inner {
     display: block;
    position: relative;
    left: -50%;
}
 .outer-outer {
    overflow: hidden;
}

/* edit bootstrap*/

body{
    font-size: 16px;
}

.form-control,
.btn,
.nav-pills > li > a,
.nav-tabs > li > a,
.modal-content,
.img-thumbnail {
    border-radius: 0;
}

.glyphicon-remove:hover{
    text-decoration: none;
    color: red;
}

.modal{
    overflow-y: auto;
}

.page-header{
    border-bottom: 0;
}

.modal-open{
    overflow: auto;
}

.navbar-brand{
    margin-left: 0;
}


