﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@model BrainStorm.Web.Models.Account.LogOnModel
<header class="header">
    <a class="logo border-around border-around--logo" href="#">BrainStorm</a>
</header>
<div class="pop-stripe"></div>
<div class="container-narrow">
    @Html.HiddenFor(model => model.IsFirstVisit)
    <div class="LogOnForm border">
        @Html.Partial("_partialLogOnForm", Model)
    </div>
    <div class="modal fade" id="popup"></div>
    <h3 class="title border-around">Что такое BrainStorm</h3>
    <p>Брейншторм представляет собой  оперативный метод решения проблемы на основе стимулирования творческой активности, при котором участникам обсуждения предлагают высказывать как можно большее количество вариантов решения некоторой поставленной задачи.</p>
    <h3 class="title border-around">Особенности</h3>
    <p>Наша система обеспечивает команды удобным, гибкими функциональным инструментом для фиксирования, оформления и обсуждения идей решеня задач в рамках текущих или будущих проектов.</p>
    <h3 class="title border-around">Отзывы о нашей системе</h3>
    <blockquote>
        BrainStorm действительно работает! Он позволяет решать сложные задачи за короткое время.
    </blockquote>
    <blockquote>
        У такой системы, как BrainStorm, аналогов нет. Спасибо вам, разработчики!
    </blockquote>
</div>
<div class="pop-stripe"></div>
<footer class="footer">
    <p class="copyright">© Таганрог 2014. Все права защищены.</p>
</footer>

