﻿@model BrainStorm.Web.Models.Account.EmailModel
<div class="modal-dialog">
    <div class="modal-content">
        @using (@Html.BeginForm("RememberPassword", "Account", FormMethod.Post, new { id = "formPopup", @class = "form-horizontal" }))
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Восстановление пароля</h3>
            </div>
            <div class="modal-body">
              <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-6">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", disabled="disabled"})
                    </div>
                </div>  
                 
                <div class="alert alert-success">
                Новый пароль отправлен на ящик
               </div>

            </div>
            <div class="modal-footer">
               <div class="center">
                <a href="#" class="btn btn-primary"  data-dismiss="modal">ОК</a> 
               </div> 
                @Scripts.Render("~/bundles/popup")
            </div>
           
        }
    </div>

</div>


