﻿@model BrainStorm.Web.Models.Account.EmailModel
<div class="modal-dialog">
    <div class="modal-content">
        @using (@Html.BeginForm("RememberPassword", "Account", FormMethod.Post, new { id = "formPopup", @class = "form-horizontal" }))
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Восстановление пароля</h3>
            </div>
            <div class="modal-body">
              <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-6">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    </div>
                </div>  
                 @Html.ValidationSummary(false)   
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary pull-left" id="submit">Отправить</a>
                <a href="#" class="btn btn-primary" id="close" data-dismiss="modal">Отмена</a>
                @Scripts.Render("~/bundles/popup")
            </div>
           
        }
    </div>

</div>


