﻿@model BrainStorm.Web.Models.Account.RegisterModel
<div class="modal-dialog">
    <div class="modal-content">
        @using (@Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "formPopup", @class = "form-horizontal" }))
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Регистрация</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-6">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-6">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-6">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-6">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-6">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary pull-left" id="submit">Зарегистрироваться</a>
                <a href="#" class="btn btn-primary" id="close" data-dismiss="modal">Отмена</a>
                @Scripts.Render("~/bundles/popup")
            </div>
            @Html.ValidationSummary(false)   
        }
    </div>

</div>


