﻿<div class="border-with-nav clearfix" infinite-scroll='loadMore()' infinite-scroll-distance='1' infinite-scroll-disabled='scrollDisable' ng-show="myIdeas">
    <div class="block-item" ng-repeat="idea in MyIdeas">
        <div class="block-item">
            <div class="idea-name">
                <h4>{{idea.name}}</h4>
            </div>
            <div class="idea-item clearfix">
                <div class="idea-item-body">
                    <div class="clearfix">
                        <div class="col-lg-6">
                            <a href="/group/{{idea.groupId}}">{{idea.groupName}}</a>
                        </div>
                        <div class="col-lg-6">
                            <p class="media-heading">{{idea.created}}</p>
                        </div>
                    </div>
                    <div>
                        <p ng-repeat="paragraph in idea.text|textToLine track by $index">{{paragraph}}</p>
                    </div>
                </div>
            </div>
            <div class="attachments">
                <div class="photo">
                    <div class="pull-left " ng-repeat="img in idea.attachedImages">
                        <img class="media-object " ng-src="~/Content/Attachments/small-{{img.url}}" ng-click="imageBox(img)">
                    </div>
                </div>
                <textarea class="example-code idea-with col-lg-12 pull-left" ng-model="idea.codeExample" ng-show="idea.codeExample!=null&&idea.codeExample!=''" style="" disabled></textarea>
            </div>
        </div>
    </div>
    <h2 ng-show="busy">Выполняется поиск подождите...</h2>
    <h2 ng-show="dowland">Идет загрузка</h2>
    <div class="modal fade" id="popup"></div>
    <a ng-show="showUpper" class='scrollTop btn btn-primary btn-lg' ng-click="up()" scroll-to="">Наверх</a>
</div>