﻿<div class="border message-page clearfix">
    <h2>{{myInfo.firstName}} {{myInfo.lastName}}</h2>
    <div class="clearfix">
        <div class="col-lg-3">
            <div class="pull-left" >
                <a href="" class="glyphicon glyphicon-edit upper-avatar" popover="Сменить аватар" popover-trigger="mouseenter" ng-click="editAvatar()"></a>
                <img class="media-object" ng-src="{{myInfo.imageUrl?'/Content/Avatar/'+ myInfo.imageUrl:''}}" ng-click="editAvatar()" ng-hide="preloader" >
                <img class="media-object" src="~/Content/preloader.gif" ng-show="proloader">
                <a href="" ng-click="password()">Сменить пароль</a>
            </div>

        </div>

        <div class="col-lg-9">
            <div class="user-description">
                Интересы:<b ng-hide="editInterest" ng-class="savingInterest? 'saving': ''" ng-click="editInterest=true" ">{{myInfo.interest}}</b>
                <textarea class="form-control msd-elastic edit-profile" ng-model="myInfo.interest" ng-show="editInterest" ng-hasfocus="editInterest" ng-func="editInterestFunc(myInfo)" ng-model="name"></textarea>
                <a href="" class="glyphicon glyphicon-edit" ng-hide="editable" ng-click="editInterest=true"></a>
            </div>
            <div class="user-description">
                О себе:<b ng-hide="editAbout" ng-class="savingAbout? 'saving': ''" ng-click="editAbout=true">{{myInfo.about}}</b>
                <textarea class="form-control msd-elastic edit-profile" ng-model="myInfo.about" ng-show="editAbout" ng-hasfocus="editAbout" ng-func="editAboutFunc(myInfo)"></textarea>
                <a href="" class="glyphicon glyphicon-edit" ng-click="editAbout=true"></a>
            </div>
            <div class="user-description">
                Группы:<div class="horizontal-info" ng-repeat="group in myInfo.groups"><a href="group/{{group.groupId}}" class="label label-info">{{group.groupName}}</a></div>
            </div>
        </div>

    </div>
    <div class="collector clearfix">
        <ul class="nav nav-tabs ">
            <li ng-class="myIdeas? 'active': ''" ng-click="myIdeasRoute()">
                <a href="">Мои идеи</a>
            </li>
            <li ng-class="myIdeas?'' : 'active'" ng-click="archiveRoute()">
                <a href="">Архив</a>
            </li>
        </ul>

        <div ng-include="templateMyIdeas"></div>
        <div ng-include="templateArchive"></div>
    </div>

</div>