﻿@{
    ViewBag.Title = "Группы";

}
<div infinite-scroll='loadMore()' infinite-scroll-distance='1' infinite-scroll-disabled='scrollDisable'>
    <div class="groups ">
        <div class="border groups-item " ng-class="[Enum.stateGroup.get(group.state), group.isBlock?'block-group': '']" ng-repeat="group in groups| searchToGroup: tempSearch |orderBy: predicat :reverse">
            <div class="groups-item-header clearfix">
                <div class="col-lg-4 col-lg-paddingNone ">
                    <a class="center pull-left group-item-name " href="/group/{{group.groupId}}">{{group.name}}</a>
                </div>
                <div class="col-lg-8">
                    <a ng-repeat="member in group.members" href="/user/{{member.userId}}">
                        <img class="small-avatar img-thumbnail" ng-src="~/Content/Avatar/{{member.imgUrl}}" />
                    </a>
                    <a href="/group/{{group.groupId}}/members" ng-show="group.isGroupBig">И еще {{group.membersCount}}участников </a>

                </div>
            </div>
            <div class="groups-item-body clearfix">
                <div class="groups-item-description">
                    {{group.task}}
                </div>

                <div class="groups-item-tags">
                    {{group.tags}}
                </div>
            </div>
            <div class="groups-item-footer clearfix">
                <div class="col-lg-3 col-lg-paddingNone">
                    <div class="pull-left padding-btn">Дата создания: {{group.dateCreated}}</div>
                </div>
                <div class="col-lg-4 col-lg-paddingNone ">
                    <div class="padding-btn center"><a href="/user/{{group.adminId}}">Администратор:  {{group.adminName}}</a></div>
                </div>
                <div class="button-groups">
                    <p ng-show="group.state==Enum.stateGroup.notSend" class="btn btn-primary " ng-click="join(group)">Заявка на участие</p>
                    <p ng-show="group.state==Enum.stateGroup.send" class="btn  btn-primary " disabled="disabled">Заявка отправлена</p>
                    <p ng-show="group.state==Enum.stateGroup.adoptet||group.state==Enum.stateGroup.admin" class="btn  btn-primary " disabled="disabled">Вы в группе</p>
                    <p ng-show="group.state==Enum.stateGroup.invite" class="btn  btn-primary " ng-click="confirmInvite(group)">Принять заявку</p>
                    <a ng-show="id.isUserAdminSite&&!group.isBlock" href="" class="btn btn-primary" ng-click="block(group)">Блокировать</a>
                    <a ng-show="id.isUserAdminSite&&group.isBlock" href="" class="btn btn-primary" ng-click="unBlock(group)">Разблокировать</a>
                </div>
            </div>
        </div>

    </div>
    <h2 ng-show="busy">Выполняется поиск подождите...</h2>
    <h2 ng-show="dowland">Идет загрузка</h2>
    <h2 ng-show="notResult">Поиск не дал результатов</h2>
    <h2 ng-show="info">Поиск начнется при длине запроса больше 3 символов</h2>
    <div class="modal fade" id="popup"></div>
    <a ng-show="counter>4" class='scrollTop btn btn-primary btn-lg' scroll-to="">Наверх</a>
</div>


