﻿@{
    ViewBag.Title = "Group";
}
<div>
    <div class="groups-item-header clearfix">
        <div class="col-lg-4 col-lg-paddingNone "><a class="center pull-left group-item-name " href="/group/{{group.groupId}}">{{group.name}}</a>     </div>
        <div class="col-lg-8">
            <a ng-repeat="member in group.members" href="/user/{{member.userId}}">
                <img class="small-avatar img-thumbnail" ng-src="~/Content/Avatar/{{member.imgUrl}}" />
            </a>
            <a href="/group/{{group.groupId}}/members" ng-show="group.isGroupBig">
                И еще {{group.membersCount}}участников
            </a>
        </div>
    </div>
    <div ng-show="group.isBlock">
        <h5 class="field-validation-error">Группа заблокирована администратором</h5>
    </div>



    <div ng-hide="group.isBlock&&!id.isUserAdminSite">
        <div class="groups-item-footer for-members clearfix" ng-show="isMember&&!group.isBlock">
            <div class="padding-btn block-btn" ng-hide="isAdminGroup">
                <a href="user/{{group.adminId}}">Администратор:  {{group.adminName}}</a>
            </div>
            <div class="padding-btn block-btn" ng-show="isAdminGroup">
                <label class=" label label-success"> Вы администратор</label>
            </div>
        </div>
        <a class="btn btn-primary block-btn" ng-click="invite()" ng-hide="group.ended||!isMember||group.isBlock">Пригласить в группу</a>
        <a href="/group/{{group.groupId}}/members" class="btn btn-info block-btn" ng-hide="group.isGroupBig||!isMember||group.isBlock">Участники </a>
        <a class="btn btn-danger block-btn" ng-show="isAdminGroup&&group.ended&&!group.archived" ng-click="archived(group)">Архивировать</a>
        <a class="btn btn-default block-btn inverse" ng-show="isAdminGroup&&!group.ended" ng-click="ended(group)">Завершить брейншторм</a>
        <a class="btn btn-warning block-btn" ng-hide="group.ended||!isMember||group.isBlock" ng-click="leave(group)">Покинуть группу</a>
        <a class="btn btn-success block-btn" ng-show="isAdminGroup&&group.ended&&!group.archived" ng-click="reopen(group)">Возобновить брейншторм</a>
        <div class="" ng-show="isAdminGroup">
            <a href="/group/{{group.groupId}}/requests" class="btn btn-info block-btn">Заявки на вступление</a>
        </div>
        <div class="padding-btn ">
            <div><h4>Статус Брейншторма: {{state()}}</h4></div>
        </div>
    </div>


    <div class="groups-item-footer for-guest clearfix" ng-hide="isMember||group.isBlock">
        <div class="col-lg-4 col-lg-paddingNone ">
            <div class="padding-btn block-btn">
                <a href="/user/{{group.adminId}}">Администратор:  {{group.adminName}}</a>
            </div>
        </div>
        <div class=" col-lg-8  col-lg-paddingNone" ng-hide="group.state==Enum.stateGroup.block">
            <div>
                <p class="validation-summary-errors padding-btn pull-left" ng-show="group.state==Enum.stateGroup.notSend&&!group.archived&&!group.ended">Вы не состоите в группе</p>
                <p class="validation-summary-errors padding-btn pull-left" ng-show="group.archived">Группа в архиве</p>
                <p class="validation-summary-errors padding-btn pull-left" ng-show="group.ended&&!group.archived">Брейншторм завершен</p>
                <p class="validation-summary-errors padding-btn success" ng-show="group.state==Enum.stateGroup.send&&!group.archived&&!group.ended">Заявка подана. Ожидается решение администратора</p>
            </div>
            <a class="btn btn-primary block-btn pull-right" ng-show="group.state==Enum.stateGroup.notSend&&!group.ended&&!group.archived" ng-click="join(group) ">Отослать заявку</a>
        </div>
        <div class=" col-lg-8  col-lg-paddingNone" ng-show="group.state==Enum.stateGroup.block">
            <div>
                <p class="validation-summary-errors padding-btn pull-left">Вы заблокированны</p>
            </div>
        </div>
    </div>

    <div class="groups-item-body ">
        <h3>Задача</h3>
        <div class="groups-item-description">
            <div ng-click="beginEditTask(group.task)" ng-hide="isEditTask">{{group.task}}</div>
            <div ng-show="isEditTask">
                <form ng-submit="editTask(idea)">
                    <textarea class="clear-textarea form-control" ng-model="group.task" required></textarea>
                    <button class="btn btn-default" type="submit">Сохранить</button>
                    <a class="btn btn-default pull-right" ng-click="endEditTask()">Отмена</a>
                </form>
            </div>
        </div>
        <div class="groups-item-tags">
            {{group.tags}}
        </div>
    </div>
    <div ng-show="isMember&&(!group.archived||isAdminGroup)||id.isUserAdminSite">
        <div ng-controller="CommentTaskController">
            <h4>Коментарии</h4>
            <div class="block-item" ng-repeat="comment in comments">
                <div ng-hide="comment.isEdit">
                    <div class="block-item-upper-right" ng-show="!group.ended || isAdminGroup">
                        <a href="" class="glyphicon glyphicon-edit" ng-show="comment.authorId==userId.id&&!group.ended&&!group.isBlock" ng-click="beginEditComment(comment)"></a>
                        <a href="" class="glyphicon glyphicon-remove" ng-show="comment.authorId==userId.id||isAdminGroup||id.isUserAdminSite" ng-click="removeComment(comment,idea)"></a>
                    </div>
                    <div class="comment-item clearfix">
                        <div class="pull-left block-avatar">
                            <a href="/user/{{comment.authorId}}">
                                <img class="media-object avatar-img" ng-src="~/Content/Avatar/{{comment.authorImage}}">
                            </a>
                            <a href="/user/{{comment.authorId}}" class="small-font">{{comment.authorName}}</a>
                        </div>
                        <div class="idea-item-body">
                            <p class="media-heading">{{comment.created}}</p>
                            <p class="about">{{comment.text}}</p>
                        </div>
                    </div>
                </div>
                <form ng-submit="editComment(comment, idea)" ng-show="comment.isEdit">
                    <div class="idea-name-input block-name">
                        <h5>Редактирование</h5>
                    </div>
                    <div class="comment-item clearfix">
                        <div class="col-lg-10">
                            <textarea class="clear-textarea form-control block-textarea" placeholder="Комментарий к идеи" ng-model="comment.text" required></textarea>
                        </div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-primary btn-block">Отправить</button>
                            <button class="btn btn-primary btn-block" ng-click="endEditComment(comment)">Отмена</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="block-item " ng-hide="group.ended||group.isBlock||(!isMember&&id.isUserAdminSite)">
                <form ng-submit="addComment(comment)">
                    <div class="idea-name-input block-name">
                        <h5>Новый комментарий</h5>
                    </div>
                    <div class="comment-item clearfix">
                        <div class="col-lg-10">
                            <textarea class="clear-textarea form-control block-textarea" placeholder="Комментарий к задаче" ng-model="comment.text" required></textarea>
                        </div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div ng-controller="IdeaController">
            <div class="block-item clearfix" ng-hide="group.ended||group.isBlock||(!isMember&&id.isUserAdminSite)">
                <form ng-submit="addIdea(idea)">
                    <div class="idea-name-input idea-name-input--nopadding">
                        <input ng-model="idea.name" type="text" placeholder="Введите название" required />
                    </div>
                    <div class="idea-item clearfix">
                        <div class="idea-item-body">
                            <textarea ng-model="idea.text" class="clear-textarea form-control" placeholder="Введите идею" required></textarea>
                            <div class="pull-left padding-btn  attachments">
                                <div class="photo">
                                    <input id="inputImage4"
                                           type="file"
                                           accept="image/*"
                                           multiple
                                           image="images"
                                           resize-max-height="100"
                                           resize-max-width="100"
                                           resize-quality="0.7" />
                                    <div>
                                        <div class="pull-left " ng-repeat="img in images">
                                            <img ng-src="{{img.resized.dataURL}}" />
                                        </div>
                                        <a href="" class="btn btn-default reset-file" ng-show="images.length>0" ng-click="images=[]">Очистить</a>
                                    </div>
                                </div>
                                <div class="col-lg-12">

                                    <a href="" ng-click="codeShow=true">Прикрепить код</a>
                                </div>
                                <textarea class="example-code idea-with col-lg-12 pull-left msd-elastic" ng-model="idea.codeExample" ng-show="codeShow"></textarea>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="isSent">Опубликовать</button>
                    </div>
                </form>
            </div>


            <h4 ng-hide="group.ended">Идеи</h4>
            <h4 ng-show="group.ended">Топ 5 идей</h4>
            <div class="ideas">
                <div class="clearfix" ng-repeat="idea in ideas| orderByCountLike:enable ">
                    <div class="block-item clearfix">
                        <div ng-hide="idea.isEdit">
                            <div class="idea-name">
                                <h4>{{idea.name}}</h4>
                            </div>
                            <div class="block-item-upper-right" ng-show="!group.ended || isAdminGroup">
                                <a href="" class="glyphicon glyphicon-edit" ng-show="idea.authorId==userId.id&&!group.ended&&!group.isBlock" ng-click="beginEditIdea(idea)"></a>
                                <a href="" class="glyphicon glyphicon-remove" ng-show="idea.authorId==userId.id||isAdminGroup||id.isUserAdminSite" ng-click="removeIdea(idea)"></a>
                            </div>
                            <div class="idea-item clearfix">
                                <div class="pull-left block-avatar">
                                    <a href="/user/{{idea.authorId}}">
                                        <img class="media-object avatar-img" ng-src="~/Content/Avatar/{{idea.authorImage}}">
                                    </a>
                                    <a href="/user/{{idea.authorId}}">{{idea.authorName}}</a>
                                </div>
                                <div class="idea-item-body">
                                    <p class="media-heading">{{idea.created}}</p>
                                    <div class="about">
                                        <p ng-repeat="paragraph in idea.text|textToLine track by $index">{{paragraph}}</p>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="pull-right col-lg-12 disable-transfer">
                                        <a href="" ng-click="like(idea)" ng-hide="idea.isVote||group.ended||group.isBlock||(!isMember&&id.isUserAdminSite)" class="glyphicon glyphicon-thumbs-up">{{isAdminGroup||id.isUserAdminSite? idea.countLike:""}} </a>
                                        <div ng-show="idea.isVote||(group.ended&&isAdminGroup)||(!isMember&&id.isUserAdminSite)||(group.isBlock&&id.isUserAdminSite)"><label class="glyphicon glyphicon-thumbs-up"></label>{{idea.countLike}}</div>
                                    </div>
                                    <div class="pull-right col-lg-12 disable-transfer">
                                        <a href="" ng-click="dislike(idea)" ng-hide="idea.isVote||group.ended||group.isBlock||(!isMember&&id.isUserAdminSite)" class="glyphicon glyphicon-thumbs-down ">{{isAdminGroup||id.isUserAdminSite? idea.countDislike:""}}</a>
                                        <div ng-show="idea.isVote||(group.ended&&isAdminGroup)||(!isMember&&id.isUserAdminSite)||(group.isBlock&&id.isUserAdminSite)"><label class="glyphicon glyphicon-thumbs-down"></label>{{idea.countDislike}}</div>
                                    </div>

                                </div>
                            </div>
                            <div class="attachments">
                                <div class="photo">
                                    <div class="pull-left " ng-repeat="img in idea.attachedImages">
                                        <img class="media-object " ng-src="~/Content/Attachments/small-{{img.url}}" ng-click="imageBox(img)">
                                    </div>
                                </div>
                                <textarea class="example-code idea-with col-lg-12 pull-left" ng-model="idea.codeExample" ng-show="idea.codeExample!=null&&idea.codeExample!=''" style="" disabled></textarea>
                            </div>
                        </div>
                        <form ng-submit="editIdea(idea)" ng-show="idea.isEdit">
                            <div class="idea-name-input idea-name-input--nopadding">
                                <input ng-model="idea.name" type="text" placeholder="Введите название" required />
                            </div>
                            <div class="idea-item clearfix">
                                <div class="idea-item-body">
                                    <textarea ng-model="idea.text" class="clear-textarea form-control" placeholder="Введите идею" required></textarea>
                                    <button type="submit" class="btn btn-primary pull-right">Опубликовать</button>
                                    <button class="btn btn-primary " ng-click="endEditIdea()">Отмена</button>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="comments">

                        <div class="block-item pull-right col-lg-11" ng-repeat="comment in idea.comments">
                            <div ng-hide="comment.isEdit">
                                <div class="block-item-upper-right" ng-show="!group.ended || isAdminGroup">
                                    <a href="" class="glyphicon glyphicon-edit" ng-show="comment.authorId==userId.id&&!!group.ended&&!group.isBlock " ng-click="beginEditComment(comment)"></a>
                                    <a href="" class="glyphicon glyphicon-remove" ng-show="comment.authorId==userId.id||isAdminGroup||id.isUserAdminSite" ng-click="removeComment(comment,idea)"></a>
                                </div>
                                <div class="comment-item clearfix">
                                    <div class="pull-left block-avatar" href="">
                                        <a href="/user/{{comment.authorId}}">
                                            <img class="media-object avatar-img" ng-src="~/Content/Avatar/{{comment.authorImage}}">
                                        </a>
                                        <a href="/user/{{comment.authorId}}" class="small-font">{{comment.authorName}}</a>
                                    </div>
                                    <div class="idea-item-body" ng-hide="comment.isEdit">
                                        <p class="media-heading">{{comment.created}}</p>
                                        <p class="about">{{comment.text}}</p>
                                    </div>
                                </div>
                            </div>

                            <form ng-submit="editComment(comment, idea)" ng-show="comment.isEdit ">
                                <div class="idea-name-input block-name">
                                    <h5>Редактирование</h5>
                                </div>
                                <div class="comment-item clearfix">
                                    <div class="col-lg-10">
                                        <textarea class="clear-textarea form-control block-textarea" placeholder="Комментарий к идеи" ng-model="comment.text" required></textarea>
                                    </div>
                                    <div class="col-lg-2">
                                        <button type="submit" class="btn btn-primary btn-block">Отправить</button>
                                        <button class="btn btn-primary btn-block" ng-click="endEditComment(comment)">Отмена</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="block-item pull-right col-lg-11" ng-hide="group.ended||group.isBlock||(!isMember&&id.isUserAdminSite)">
                            <form ng-submit="addComment(comment, idea)">
                                <div class="idea-name-input block-name">
                                    <h5>Новый комментарий</h5>
                                </div>
                                <div class="comment-item clearfix">
                                    <div class="col-lg-10">
                                        <textarea class="clear-textarea form-control block-textarea" placeholder="Комментарий к идеи" ng-model="comment.text" required></textarea>
                                    </div>
                                    <div class="col-lg-2">
                                        <button type="submit" class="btn btn-primary">Отправить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <h4 ng-show="group.ended&&ideas.indexOf(idea)===4">Остальные идеи</h4>
                </div>
            </div>

        </div>
    </div>



</div>
</div>
