﻿
<div class="border-with-nav clearfix" infinite-scroll='loadMoreInput()' infinite-scroll-distance='1' infinite-scroll-disabled='scrollDisableInput' ng-show="input">
    <div class="block-item" ng-repeat="message in inputMessages.messages" ng-class="message.read? '':'invite'">
        <div class="block-item-upper-right">
            <label ng-show="message.recipients.length>1" popover="{{recipientsMessage(message.recipients)}}" popover-title="Получатели: " popover-trigger="mouseenter" class="multi-recerver label label-info">У сообщения несколько получателей</label>
            <a href="" class="glyphicon glyphicon-remove" ng-click=""></a>
        </div>
        <div class=" clearfix">
            <div class="pull-left block-avatar">
                <a href="/user/{{message.senderId}}">
                    <img class="media-object avatar-img" ng-src="~/Content/Avatar/{{message.imageUrl}}">
                </a>
                    <a href="/user/{{message.senderId}}" class="small-font">{{message.senderFullName}}</a>
</div>
            <div class="message-body">
                <p class="media-heading">{{message.created}}</p>
                <p class="about">{{message.text}}</p>
                <div>
                    <button class="btn btn-default btn-small pull-left" ng-click="respond(message)">Ответить</button>
                </div>            
            </div>
        </div>
    </div>
    <h2 ng-show="busy">Выполняется поиск подождите...</h2>
    <h2 ng-show="dowland">Идет загрузка</h2>
    <div class="modal fade" id="popup"></div>
    <a ng-show="showUpper" class='scrollTop btn btn-primary btn-lg' ng-click="up()" scroll-to="">Наверх</a>
</div>