﻿<div class="block-item clearfix">
    <form ng-submit="addIdea(idea)">
        <div class="idea-name-input idea-name-input--nopadding">
            <input ng-model="idea.name" type="text" placeholder="Введите название" required />
        </div>
        <div class="idea-item clearfix">
            <div class="idea-item-body">
                <textarea ng-model="idea.text" class="clear-textarea form-control" placeholder="Введите идею" required></textarea>
                <div class="pull-left padding-btn  attachments">
                    <div class="photo">
                        <input id="inputImage4"
                               type="file"
                               accept="image/*"
                               multiple
                               image="images"
                               resize-max-height="100"
                               resize-max-width="100"
                               resize-quality="0.7" />
                        <div>
                            <div class="pull-left " ng-repeat="img in images">
                                <img ng-src="{{img.resized.dataURL}}" />
                            </div>
                            <a href="" class="btn btn-default reset-file" ng-show="images.length>0" ng-click="images=[]">Очистить</a>
                        </div>
                    </div>
                    <div class="col-lg-12">

                        <a href="" ng-click="codeShow=true">Прикрепить код</a>
                    </div>
                    <textarea class="example-code idea-with col-lg-12 pull-left msd-elastic" ng-model="idea.codeExample" ng-show="codeShow"></textarea>
                </div>

            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="isSent">Сохранить</button>
        </div>
    </form>
</div>

<div class="border-with-nav clearfix" infinite-scroll='loadMore()' infinite-scroll-distance='1' infinite-scroll-disabled='scrollDisable' >  
    <div ng-show="ideas.length<1">
        <h5>Вы еще ничего не написали</h5>
    </div>
    <div class="block-item" ng-repeat="idea in ideas">
        <div class="block-item" ng-hide="idea.isEdit">
            <div class="idea-name">
                <h4>{{idea.name}}</h4>
            </div>
            <div class="block-item-upper-right">
                <a href="" class="glyphicon glyphicon-edit" ng-click="beginEditIdea(idea)"></a>
                <a href="" class="glyphicon glyphicon-remove" ng-click="removeIdea(idea)"></a>
            </div>
            <div class="idea-item clearfix">
                <div class="idea-item-body">
                    <div class="clearfix">
                        <div class="col-lg-6">
                            <p class="media-heading">{{idea.created}}</p>
                        </div>
                    </div>
                    <div>
                        <p ng-repeat="paragraph in idea.text|textToLine track by $index">{{paragraph}}</p>
                    </div>
                </div>
            </div>
            <div class="attachments">
                <div class="photo">
                    <div class="pull-left " ng-repeat="img in idea.attachedImages">
                        <img class="media-object " ng-src="~/Content/Attachments/small-{{img.url}}" ng-click="imageBox(img)">
                    </div>
                </div>
                <textarea class="example-code col-lg-12 pull-left" ng-model="idea.codeExample" ng-show="idea.codeExample!=null&&idea.codeExample!=''" style="" disabled></textarea>
            </div>
            <div class="groups-item-footer clearfix">
                <div class=" col-lg-3 pull-right  col-lg-paddingNone button-groups" ng-controller="selectController">
                    <select class="form-control" ng-options="group as group.groupName for group in myInfo.groups"
                            ng-model="selected" ng-change="update(selected,idea)"></select>
                </div>
            </div>
        </div>

        <form ng-submit="editIdea(idea)" ng-show="idea.isEdit">
            <div class="idea-name-input idea-name-input--nopadding">
                <input ng-model="idea.name" type="text" placeholder="Введите название" required />
            </div>
            <div class="idea-item clearfix">
                <div class="idea-item-body">
                    <textarea ng-model="idea.text" class="clear-textarea form-control" placeholder="Введите идею" required></textarea>
                    <div class="pull-left padding-btn">     
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Сохранить</button>
                    <a class="btn btn-primary " ng-click="endEditIdea(idea)">Отмена</a>
                </div>
               
            </div>
        </form>
    </div>
    <h2 ng-show="busy">Выполняется поиск подождите...</h2>
    <h2 ng-show="dowland">Идет загрузка</h2>
    <div class="modal fade" id="popup"></div>
    <a ng-show="showUpper" class='scrollTop btn btn-primary btn-lg' ng-click="up()" scroll-to="">Наверх</a>
</div>