﻿<div class="border message-page clearfix">
    <h2>Мои сообщения</h2>
    <div class="block-item clearfix">
        <form ng-submit="send(newMessage)" class=" form-horizontal">
            <div class="message-name">
                <h4>Новое сообщение</h4>
            </div>
            <div class="new-message-body clearfix">
                <div class="form-group">
                    <label class="col-lg-2 control-label recipient-name" >Получатель</label>
                    <div class="col-lg-5">
                        <input ui-select2="option" ng-model="newMessage.recipients" style="width:400px" required ng-change="isSent=false">
                    </div>
                </div>
                <textarea ng-model="newMessage.text" class="clear-textarea form-control" placeholder="Текст сообщения" required ng-change="isSent=false"></textarea>
                <button type="submit" class="btn btn-primary pull-right" ng-disabled="isSent">{{!isSent? 'Отправить':'Отправлено'}}</button>
            </div>
        </form>
    </div>

    <div class="message-block clearfix">
        <ul class="nav nav-tabs ">
            <li ng-class="input? 'active': ''"  ng-click="inputRoute()">
                <a href="">Входящие</a>
            </li>
            <li ng-class="input?'' : 'active'" ng-click="outputRoute()">
                <a href="">Исходящие</a>
            </li>
        </ul>
        <div ng-include="templateInput"></div>  
        <div ng-include="templateOutput"></div> 
    </div>

</div>