﻿
<div class="border-with-nav clearfix" infinite-scroll='loadMoreOutput()' infinite-scroll-distance='1' infinite-scroll-disabled='scrollDisableOutput' ng-hide="input">
    <div class="block-item" ng-repeat="message in outputMessages" ng-class="message.read? '':'invite'">
        <div class="block-item-upper-right">
            <a href="" class="glyphicon glyphicon-remove" ng-click="remove(message)"></a>
        </div>
        <div class=" clearfix">
            <div class="pull-left block-avatar" >
                <a href="user/{{message.recipientId}}">
                    <img class="media-object avatar-img" ng-src="~/Content/Avatar/{{message.imageUrl}}">
                </a>
                <a href="user/{{message.recipientId}}" class="small-font">{{message.recipientFullName}}</a>
            </div>
            <div class="message-body">
                <p class="media-heading">{{message.created}}</p>
                <p class="about">{{message.text}}</p>
            </div>
        </div>
    </div>
    <h2 ng-show="busy">Выполняется поиск подождите...</h2>
    <h2 ng-show="dowland">Идет загрузка</h2>
    <div class="modal fade" id="popup"></div>
    <a ng-show="showUpper" class='scrollTop btn btn-primary btn-lg' ng-click="up()" scroll-to="">Наверх</a>
</div>