﻿@{
    Layout = null;
}

<div class="users-item" ng-model="user">
            <div class="pull-left" href="/user/{{user.id}}">
                <img class="media-object" src="~/Content/1.png">
            </div>
            <div class="users-item-body">
                <h4 class="media-heading">{{user.fullName}}</h4>
                <p class="about">{{user.about}}</p>
                <p class="interest">Интересы: {{user.interest}}</p>
            </div>
        </div>