﻿<div class="border message-page clearfix">
    <h2>{{user.firstName}} {{user.lastName}}</h2>
    <div class="clearfix">
        <div class="col-lg-3">
            <div class="pull-left" >
                
                <img class="media-object avatar" ng-src="{{user.imageUrl?'/Content/Avatar/'+ user.imageUrl:''}}">
                <div class="btn btn-primary btn-small" ng-hide="isSending||user.isBlock" ng-click="isSending =true"> Отправить сообщение</div>
            </div>

        </div>

        <div class="col-lg-9" ng-hide="user.isBlock">
            <div class="user-description">
                Интересы:<b>{{user.interest}}</b>               
            </div>
            <div class="user-description">
                О себе:<b>{{user.about}}</b>               
            </div>
            <div class="user-description">
                Группы:<div class="horizontal-info" ng-repeat="group in user.groups"><a href="/group/{{group.groupId}}" class="label label-info">{{group.groupName}}</a></div>
            </div>
        </div>
        <div class="col-lg-6 " ng-show="user.isBlock">
            <h5 class="field-validation-error">Пользователь заблокирован администратором</h5>
        </div>

    </div>
    <div class="block-item" ng-show="isSending">
        <form ng-submit="send(message)">
            <div class="comment-item clearfix">
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary btn-block">Отправить</button>
                    <button class="btn btn-primary btn-block" ng-click="isSending=false">Отмена</button>
                </div>
                <div class="col-lg-10">
                    <textarea class="clear-textarea form-control block-textarea " placeholder="Текст сообщения" ng-model="message" required></textarea>
                </div>
            </div>
        </form>
    </div>
</div>