﻿@{
    ViewBag.Title = "Пользователи";
}


<div infinite-scroll='loadMore()' infinite-scroll-distance='1' infinite-scroll-disabled='scrollDisable'>
    <div ng-hide="notBackButton">
        <div class="return-btn" back-button back="назад">
        </div>
    </div>
    <div ng-show="users.length<1&&isRequests">
        <h4>Заявок нет</h4>
    </div>
    <div class="users" ng-repeat="user in users| searchToUser : tempSearch">
        <div class="users-item  border clearfix">
            <div class="pull-left">
                <img class="media-object" ng-src="~/Content/Avatar/{{user.imageUrl}}">
            </div>
            <div class="users-item-body">
                <a href="/user/{{user.id}}">
                    <h4 class="media-heading">{{user.fullName}}</h4>
                </a>
                <p class="about">Обо мне: {{user.about}}</p>
                <p class="interest">Интересы: {{user.interest}}</p>
                <p ng-show="user.id==id.id">Это вы</p>
            </div>
            <div class="col-lg-6 pull-right" ng-show="(user.id!=id.id&&user.state==Enum.stateGroup.admin)||(isUsers&&user.isAdmin)">
                Администратор
            </div>
            <div class="col-lg-6 pull-right" ng-show="(isAdmin &&user.id!=id.id&&user.state!=Enum.stateGroup.admin)||(isUsers&&id.isUserAdminSite&&!user.isAdmin)">
                <div class="col-lg-4 pull-left">
                    <a class="btn btn-danger " ng-hide="(user.state==Enum.stateGroup.block)||(isUsers&&user.isBlock)" ng-click="block(user)">Блокировать</a>
                    <a class="btn btn-success " ng-show="user.state==Enum.stateGroup.block||(isUsers&&user.isBlock)" ng-click="unblock(user)">Разблокировать</a>
                </div>
                <div class="col-lg-8 pull-right">
                    <a class="btn btn-warning " ng-hide="(user.state==Enum.stateGroup.block)||(isUsers&&user.isBlock)||user.assign" ng-click="assign(user)">Назначить администратором</a>
                    <a class="btn btn-warning pull-left " ng-hide="(user.state==Enum.stateGroup.block)||(isUsers&&user.isBlock)||!user.assign" ng-click="cancelAssign(user)">Отмена...</a>
                    <a class="btn btn-success pull-right" ng-hide="(user.state==Enum.stateGroup.block)||(isUsers&&user.isBlock)||!user.assign" ng-click="confirmAssign(user)">Потвердить  {{user.time}}</a>
                    <p class="validation-summary-errors padding-btn pull-right" ng-show="(user.state==Enum.stateGroup.block)||(isUsers&&user.isBlock)">Участник заблокирован</p>

                </div>
            </div>
            <div class="col-lg-5 pull-right" ng-show="isRequests&&user.id!=id.id">
                <div class="col-lg-4 pull-right">
                    <a class="btn btn-danger " ng-click="delete(user)">Отклонить</a>
                </div>
                <div class="col-lg-4 pull-right">
                    <a class="btn btn-success " ng-click="confirm(user)">Принять</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <h2 ng-show="busy">Выполняется поиск подождите...</h2>
<h2 ng-show="dowland">>Идет загрузка</h2>
<h2 ng-show="notResult">Поиск не дал результатов</h2>
<h2 ng-show="info">Поиск начнется при длине запроса больше 3 символов</h2>
<div class="modal fade" id="popup"></div>
<a ng-show="counter>4" class='scrollTop btn btn-primary btn-lg' scroll-to="">Наверх</a>

